<div class = "wrapper">
  <div class = "header">
  <div class = "header-title">
    <h1>Japanism</h1>
  </div>
  </div>
  <div class = "top-image">
  </div>
  <div class = "main">
    <ul class = "main-bar">
      <li><a href="" id="safe" class="bar active">治安</a></li>
      <li><a href="" id="clean" class="bar">清潔</a></li>
      <li><a href="" id="food" class="bar">食</a></li>
      <li><a href="" id="people" class="bar">人</a></li>
    </ul>
    <ul class="contents">
      <li class= "content show">
        <div class= "content-name">
          治安
        </div>
        <div class="content-main">
          <img src="assets/治安１.jpeg" class="content-image">
          <div class="content-text">
            言うまでもなく日本の治安はいいです。一部繁華街では
            まだまだ少し怖いところはありますが、命に関わるよう
            なことはありません。<br>
            北欧諸国も治安がいいといいますが、東京等日本の繁華街
            の人口密度を考えれば、そもそも比較をするのがおか
            しいことに気づきます。<br>
            ロンドンやパリでは、エリアによっては夜間の外出ができ
            ないところもありますし、首からカメラをを下げて歩く
            なんて言うのはスリの格好のマト。
          </div>
          </div>
        </div>
      </li>
      <li class= "content">
        <div class= "content-name">
          清潔
        </div>
        <div class= "content-main">
          <img src="assets/清潔.jpg" class="content-image">
          <div class="content-text">
            多くの中国人は「日本は非常に清潔」だという評判を見聞き
            しているというが、中国メディアの百度は２５日付で「日本
            の街はどれほど清潔なのか」と題する記事を掲載した。中
            国人筆者は「日本の清潔さは実際に日本を訪れてみないと理
            解できないものであり、実際に目にすると、心の底から敬服さ
            せられるだろう」と伝えている。
          </div>
        </div>
      </li>
      <li class= "content">
        <div class= "content-name">
          食
        </div>
        <div class="content-main">
          <img src="assets/和食.jpg" class="content-image">
          <div class="content-text">
            “南北に長く、四季が明確な日本には多様で豊かな自然があり、
            そこで生まれた食文化もまた、これに寄り添うように育まれてきました。
            このような、「自然を尊ぶ」という日本人の気質に基づいた「食」に関す
            る「習わし」を、「和食；日本人の伝統的な食文化」と題して、ユネスコ無形文
            化遺産に登録されました。”
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class = "footer">
  </div>
</div>
