<div class = "wrapper">
  <div class = "header">
  <div class = "header-title">
    <h1>Japanism</h1>
  </div>
  </div>
  <img src ="topimage" class = top-image>
  <div class = "main">
  </div>
  <div class = "footer">
  </div>
</div>
