body{
  width:1200px;
}
h1{
  font-size:20px;
  font-weight: bold;

}

.header{
  width: 100%;
  height: 50px;

}

.header-title{
  align-items: center;
}

.top-image{
  background-image: url(top-image.jpg);
  background-size: cover;
  width: 100%;
  height: 450px;
  position: relative;
}